.wrapper {
	width: 100%;
	min-height: 70vh;
	background-color: #c6c6c6;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
}

.timer,
.calcDate {
	width: 50%;
	min-height: 362px;
	background-color: #fff;
	border: 1px solid black;
	padding: 50px;
	margin: auto;
	box-shadow: 15px 15px 15px #000000;
}

.timer,
.calcDate {
	margin-top: 50px;
	margin-bottom: 150px;

}

.show {
	display: block;
}

.hide {
	display: none;
}

.timer__item,
.calcDate__item {
	display: flex;
	justify-content: space-between;
}

h1 {
	text-align: center;
}

.error {
	color: red;
	font-weight: 900;
	font-size: 16px;
	text-transform:uppercase;
}

.red {
	color: red;
}

.mainBtn {
	margin: 20px auto;
	background-color: yellowgreen;
	color: black;
	font-size: 20px;
	border-radius: 5px;
}

.mainBtn:hover {
	cursor: pointer;
	background-color: #000;
	color: #fff;
}

.mainBtn:active {
	background-color: coral;
	color: #fff;
}


.blue {
	background-color: blue;
	color: white;
}
.green {
	background-color: green;
	color: white;
}

.bold {
	font-weight: 900;
	font-size: 16px;
}

.timer2 {
	display: flex;
	justify-content: space-between;
	background-color:gray;
	color: #fff;
	text-align: center;
	outline: 3px solid black;
}

h2 {
	margin-top: 20px;
	text-align: center;
	background-color: lightgreen;
}

button:hover {
	cursor: pointer;
	box-shadow: inset 0 0 0px 2px black;;
}
.btn-home {
	margin: 20px 425px 0;
}